<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="common.html :: source"></th:block>
    <script type="text/javascript">
        $(function () {
            var pager = $(".easyui-datagrid").datagrid('getPager');
            $(pager).pagination({
                total:parseInt($("#total").val()),
                pageSize:parseInt($("#size").val()),
                pageNumber:parseInt($("#current").val()),
                afterPageText: 'of {pages} Pages',
                pageList: [1, 5, 10, 20, 30, 50],
                //refresh
                onBeforeRefresh: function (current, size) {
                    let supplierId = $("#supplierId").val();
                    let materialName = $("#materialName").val();
                    let batchNo = $("#batchNo").val();
                    let status = $("#status").val();
                    let orderDate1 = $("#orderDate1").val();
                    let orderDate2 = $("#orderDate2").val();
                    location.href = "/materialInput/list?current=" + current
                        + "&size=" + size
                        +"&supplierId=" + supplierId
                        +"&materialName=" + materialName
                        +"&batchNo=" + batchNo
                        +"&status=" + status
                        +"&orderDate1=" + orderDate1
                        +"&orderDate2=" + orderDate2;
                },
                onSelectPage: function (current, size) {
                    let supplierId = $("#supplierId").val();
                    let materialName = $("#materialName").val();
                    let batchNo = $("#batchNo").val();
                    let status = $("#status").val();
                    let orderDate1 = $("#orderDate1").val();
                    let orderDate2 = $("#orderDate2").val();
                    location.href = "/materialInput/list?current=" + current
                        + "&size=" + size
                        +"&supplierId=" + supplierId
                        +"&materialName=" + materialName
                        +"&batchNo=" + batchNo
                        +"&status=" + status
                        +"&orderDate1=" + orderDate1
                        +"&orderDate2=" + orderDate2;
                }
            });
        });

        function materialImport() {
            location.href = "/materialInput";
        }

        function materialInputSearch() {
            document.forms[0].submit();
        }

        function materialExport() {
            location.href = "/materialInput/export";
        }

        function verify() {
            // check selected orders need to be unreviewed 
            let rows = $("#dgitem").datagrid("getSelections");
            if(rows.length == 0){
                $.messager.alert("Info", "Please select items to verify.","error");
                return false;
            }
            let idArray = "";
            for(let i=0; i<rows.length; i++) {
                let row = rows[i];
                if (row.status == 'verified') {
                    $.messager.alert("Info", "Items include verified orders, cannot verify again.", "error");
                    return false;
                }
                if (row.status == 'received') {
                    $.messager.alert("Info", "Items include received orders，cannot verify.", "error");
                    return false;
                }
                if((i+1) != rows.length){
                    idArray += row.id+",";
                }else{
                    idArray += row.id;
                }
            }

            $.messager.confirm('Note','Data cannot be modified after verify, confirm?',function(res){
                if(res){
                    $.post(
                        "/materialInput/verify?status=1&idArray="+idArray,
                        function (data) {
                            if(data == "success"){
                                $.messager.alert("Info", "Verified.","info",function () {
                                    window.location.href = "/materialInput/list";
                                });
                            }else{
                                $.messager.alert("Info", "Verify failed.","error");
                            }
                        }
                    );
                }
            })
        }

        function stockin() {
            let rows = $("#dgitem").datagrid("getSelections");
            if(rows.length == 0){
                $.messager.alert("Info", "Please select items to stock in.","error");
                return false;
            }
            let idArray = "";
            for(let i=0; i<rows.length; i++) {
                let row = rows[i];
                if (row.status == 'unverified') {
                    $.messager.alert("Info", "Cannot stock in unverified order.", "error");
                    return false;
                }
                if (row.status == 'received') {
                    $.messager.alert("Info", "Cannot stock in orders already received.", "error");
                    return false;
                }
                if((i+1) != rows.length){
                    idArray += row.id+",";
                }else{
                    idArray += row.id;
                }
            }

            $.messager.confirm('Note','Confirm stock in?',function(res){
                if(res){
                    $.post(
                        "/materialInput/stockin?status=2&idArray="+idArray,
                        function (data) {
                            if(data == "success"){
                                $.messager.alert("Info", "stock in success.","info",function () {
                                    window.location.href = "/materialInput/list";
                                });
                            }else{
                                $.messager.alert("Info", "stock in failed","error");
                            }
                        }
                    );
                }
            })
        }

        function del() {
            let rows = $("#dgitem").datagrid("getSelections");
            if(rows.length == 0){
                $.messager.alert("Info", "please select items to delete.","error");
                return false;
            }
            let idArray = "";
            for(let i=0; i<rows.length; i++) {
                let row = rows[i];
                if (row.status == 'verified') {
                    $.messager.alert("Info", "cannot delete verified order.", "error");
                    return false;
                }
                if (row.status == 'received') {
                    $.messager.alert("Info", "cannot delete received order.", "error");
                    return false;
                }
                if((i+1) != rows.length){
                    idArray += row.id+",";
                }else{
                    idArray += row.id;
                }
            }

            $.messager.confirm('Note','Confirm delete?',function(res){
                if(res){
                    $.post(
                        "/materialInput/delete?idArray="+idArray,
                        function (data) {
                            if(data == "success"){
                                $.messager.alert("Info", "deleted.","info",function () {
                                    window.location.href = "/materialInput/list";
                                });
                            }else{
                                $.messager.alert("Info", "delete failed.","error");
                            }
                        }
                    );
                }
            })
        }
    </script>
</head>
<body>
<div id="tb">
    <table width="100%" border="0">
        <tr>
            <td>
                <a class="easyui-linkbutton" plain="true" icon="icon-add" href="javascript:void(0);" onclick="materialImport()">Import</a>
                <a class="easyui-linkbutton" plain="true" icon="icon-undo" href="javascript:void(0);" onclick="materialExport()">Export</a>
                <a class="easyui-linkbutton" plain="true" icon="icon-edit" href="javascript:void(0);" onclick="verify()">Verify</a>
                <a class="easyui-linkbutton" plain="true" icon="icon-edit" href="javascript:void(0);" onclick="stockin()">Stock In</a>
                <a class="easyui-linkbutton" plain="true" icon="icon-cut" href="javascript:void(0);" onclick="del()">Delete</a>
            </td>
            <td align="right">
                <form id="form1" modelAttribute="enrollment" action="/materialInput/list" method="post">
                    Supplier:
                    <select th:value="${form.supplierId}" id="supplierId" name="supplierId">
                    <option value="">No selection</option>
                    <option th:selected="${form.supplierId == supplier.supplierId}" th:each="supplier:${supplierList}" th:value="${supplier.supplierId}" th:text="${supplier.supplierName}"></option>
                    </select>
                    Material Name: <input th:value="${form.materialName}" type="text" id="materialName" name="materialName" style="width:110px;">
                    Batch No.: <input th:value="${form.batchNo}" type="text" id="batchNo" name="batchNo" style="width:110px;">
                    Verify Status:
                    <select th:value="${form.status}" name="status" id="status">
                        <option value="" th:selected="${form.status == ''}">No selection</option>
                        <option value="0" th:selected="${form.status == 0}">unverified</option>
                        <option value="1" th:selected="${form.status == 1}">verified</option>
                        <option value="2" th:selected="${form.status == 2}">received</option>
                    </select>
                    Date range<input th:value="${form.orderDate1}" class="easyui-datebox" id="orderDate1" name="orderDate1" editable="false"  style="width:130px;">
                    -<input th:value="${form.orderDate2}" class="easyui-datebox" id="orderDate2" name="orderDate2" editable="false" style="width:130px;">
                    <a href="javascript:void(0);" class="easyui-linkbutton" plain="true" onclick="materialInputSearch()" iconCls="icon-search" >Search</a>
                </form>
            </td>
        </tr>
    </table>
</div>
<input type="hidden" id="current" th:value="${page.current}"/>
<input type="hidden" id="size" th:value="${page.size}"/>
<input type="hidden" id="total" th:value="${page.total}"/>
<table class="easyui-datagrid" id="dgitem" pagination="true" style="height:550px;width: auto;" singleSelect="false">
    <thead>
    <tr>
        <th width="50" align="center" checkbox="true" field="id" >Select</th>
        <th width="150" align="center" field="supplierName">Supplier</th>
        <th width="120" align="center" field="oprDate">Receive Date</th>
        <th width="100" align="center" field="storageName">Storage Name</th>
        <th width="60" align="center" field="materialCode">Material Code</th>
        <th width="100" align="center" field="materialName">Material Name</th>
        <th width="60" align="center" field="style">Specification</th>
        <th width="60" align="center" field="unitName">Unit</th>
        <th width="90" align="center" field="orderId">Purchase Order</th>
        <th width="130" align="center" field="batchNo">Batch No.</th>
        <th width="60" align="center" field="orderCnt">Qty</th>
        <th width="80" align="center" field="status">Verify Status</th>
        <th width="150" align="center" field="orderNo">Receive Order No.</th>
        <th width="80" align="center" field="userName">Operator</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="materialInput:${page.data}">
            <td th:text="${materialInput.materialInputId}"></td>
            <td th:text="${materialInput.supplierName}"></td>
            <td th:text="${materialInput.orderDate}"></td>
            <td th:text="${materialInput.storageName}"></td>
            <td th:text="${materialInput.materialCode}"></td>
            <td th:text="${materialInput.materialName}"></td>
            <td th:text="${materialInput.style}"></td>
            <td th:text="${materialInput.unitName}"></td>
            <td th:text="${materialInput.orderId}"></td>
            <td th:text="${materialInput.batchNo}"></td>
            <td th:text="${materialInput.orderCount}"></td>
            <td th:if="${materialInput.status == 0}">unverified</td>
            <td th:if="${materialInput.status == 1}">verified</td>
            <td th:if="${materialInput.status == 2}">received</td>
            <td th:text="${materialInput.orderNo}"></td>
            <td th:text="${materialInput.userName}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>